//screens
$startMobile: 800px;
$startTablet: 1023px;

//colors
$white: #fff;
$paleBlue: #e2e8f0;
$green: #10b981;
$black: #000;
$darkBlue: #0f172a;
$gray: #475569;
$spaceGray: #64748b;
$lightGray: #94a3b8;
$lightBlue: #6366f1;
$blue: #4f46e5;
$violet: #a5b4fc;
$red: red;
$borderColor: #334155;
